.form {
    color: white;
    font-family: "Lato" sans-serif;
    color: #c5c8c8e5;
    border: 5px solid #aaaaaa;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    text-align: center;
    margin: 0, auto;
    display: block;
    max-width: 390px;
}

.form__value{
    color: crimson;
    border: 1px solid black;
    padding: 30px;
    margin-left: 10px;
    border-width: 1px;
    width: 102px;
}
.form__fieldset{
    border: 1px solid crimson;
}
.form__legend{
    background-color: teal;
    color: white;
    border: 1px solid black;
    padding: 6px;
}
.form__button{
    background-color: teal;
    color: white;
}
.from__button:hover{
    background-color: hsl(180, 100%, 35%);
}
.form__button:active{
    background-color: hsl(180, 100%, 45%);
}