.form {
    color: crimson;
    border: 5px solid #aaaaaa;
    background-image: url("../images/tlo.png");
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    display: block;
    max-width: 390px;
}

.form__value{
    border: 1px solid black;
    padding: 30px;
    margin: -4px;
    border-width: 1px;
    width: 102px;
}
.form__fieldset{
    border: none;
}
.form__legend{
    background-color: teal;
    color: white;
    border: 1px solid black;
    padding: 6px;
}
.form__button{
    background-color: teal;
    color: white;
}
.from__button:hover{
    background-color: hsl(180, 100%, 35%);
}
.form__button:active{
    background-color: hsl(180, 100%, 45%);
}